<div id="chat" name="chat" class="no-display">
      <div id="header-buttons" name="header-buttons" class="no-display">
            <button id='close-chat' class='ui-button ui-widget-header ui-corner-all ui-button-icon-only minimize-main no-border' title='Cerrar'>
            <a href='#'>
              <i class='material-icons'>clear</i>
              <!--[if lt IE 10]>
                <label>X</label>
                <script>$('.material-icons').remove();</script>
             <![endif]-->
              <span class='ui-button-text' class='dialog-button'>.</span>
            </a>
          </button>
          <button id='min-main-chat' class='ui-button ui-widget-header ui-corner-all ui-button-icon-only minimize-main no-border' title='Minimizar'>
            <a href='#'>
              <i class='material-icons'>remove</i>
              <!--[if lt IE 10]>
                  <label>__</label>
              <![endif]-->
              <span class='ui-button-text' class='dialog-button'>.</span>
            </a>
          </button>
          <div class='chat_header_icon'>
          </div>
          <div id='chat-header' class='chat_title'>
          </div>
      </div>
      <div class='box-header with-border'>
          <span class="waiting_agent_status"><span id='agent_name' name='agent_name'>Tu asesor es Marta </span>
            <div id='iswriting' class='pull-right'>
              <i class='fa fa-pencil'></i>
              <span id='iswriting-text'></span>
            </div>
          </span>
      </div>
      <p class='validateTips'></p>
      <div class='box box-info direct-chat direct-chat-info ui-widget-content no-content-border'>
        <div id='warning' class='highlight-padding ui-state-highlight ui-corner-all no-display'>
          <span class='window ui-icon ui-icon-info'></span>
          <strong id='warning-alert'></strong><span id='warning-text'></span>
        </div>
        <div class='box-body'>
          <div class='direct-chat-messages'>
          </div>
        </div>
       <div class="small-box-footer col-xs-12 waiting_agent_textarea_container">
          <textarea id="textarea_msg" class="col-xs-10 waiting_agent_textarea_msg" name="textarea_msg"></textarea>
          <i class="material-icons col-xs2 rotate grey-1">reply</i>
        </div>
</div>