<div id="closing-dialog" name="closing-dialog" class='no-display'>
  <div class='login_form'>
    <form>
    <p id='textoExplicacion-closing-dialog'></p>
    <div class="col-xs-12">
      <button id="confirm-button" name="confirm-button" type="button" class="btn btn-primary center-block col-xs-4">Confirmar </button>
      <div class="col-xs-4"></div>
      <button id="cancel-button" name="cancel-button" type="button" class="btn btn-cancel center-block col-xs-4">Cancelar </button>
    </div>
    </form>
  </div>
</div>