<div id='contact' name='contact' class='no-display'>
  <div class='login_form'>
    <p id='textoExplicacion'></p>
    <p class='validateTips'></p>
    <form>
    <fieldset>
      <div class="form-group">
        <input type='text' name='contact_name' id='contact_name' class='form-control login_text ui-widget-content ui-corner-all name_input' placeholder="Introduce tu nombre">
      </div>
      <div class="form-group">
        <input type='text' name='contact_email' id='contact_email' class='form-control login_text ui-widget-content ui-corner-all email_input' placeholder="Introduce tu email">
      </div>
      <div class="form-group">
        <textarea name='contact_comments' id='contact_comments' class='form-control ui-widget-content ui-corner-all' placeholder="Introduce tu consulta"></textarea>
      </div>
      <p id="P_1">
  	    <input type="checkbox" name="contact_terms" id="contact_terms" /> He leído y acepto la <a href="https://www.mediamarkt.es/static/layer/terms/privacy/" id="A_4">Política de privacidad</a>
      </p>
    </fieldset>
    <button id="contact-button" type="button" class="btn btn-primary center-block login_button">Enviar</button>
    </form>
  </div>
  <footer class="chat-footer"></footer>
</div>