<div id='contact_thanks' name='contact_thanks' class='no-display'>
  <div class='contact_thanks_form'>
    <img src="images/contact_thanks_image.png"/><BR/>
    <p id='textoAgradecimiento'></p>
  </div>
  <footer class="chat-footer"></footer>
</div>