<div id='login' class='no-display'>
  <div class='login_form'>
    <p class='validateTips'></p>
    <form>
    <fieldset>
      <div class="form-group">
        <label for="name"></label>
        <input type='text' name='name' id='name' class='form-control login_text ui-widget-content ui-corner-all name_input' placeholder="Introduce tu nombre">
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input type='text' name='email' id='email' class='form-control login_text ui-widget-content ui-corner-all email_input' placeholder="Introduce tu email">
      </div>
      <p id="P_1">
  	    <input type="checkbox" name="terms" id="terms" /> He leído y acepto la <a href="https://www.mediamarkt.es/static/layer/terms/privacy/" id="A_4">Política de privacidad</a>
      </p>
    </fieldset>
    <button id="login-button" type="button" class="btn btn-primary center-block login_button">Iniciar Chat > </button>
    </form>
  </div>
  <footer class="chat-footer"></footer>
</div>