<div id='main-users-resizer' class='ui-widget-content ui-corner-all'>
  <div class='ui-widget-header'>
    <button id='close-main-chat' class='ui-button ui-widget-header ui-corner-all ui-button-icon-only minimize-main no-border' title='Cerrar'>
      <a href='#'>
          <!--[if lt IE 10]>
              <label>X</label>
              <script>$('.material-icons').remove();</script>
           <![endif]-->
           <i class="material-icons">clear</i>
      </a>
    </button>
    <button id='min-main-chat' class='ui-button ui-widget-header ui-corner-all ui-button-icon-only minimize-main no-border' title='Minimizar'>
      <a href='#'>
        <i class="material-icons">remove</i>
        <!--[if lt IE 10]>
            <label>__</label>
        <![endif]-->
      </a>
    </button>
    <div class="header_icon_chat">
    </div>
    <div id='chat-title' class="chat_title">
    </div>
  </div>
  <div id='extras'>
  </div>
</div>
