<div id="survey" name="survey" class="no-display">
    <div class='survey_form'>
        <form>
        <fieldset>
          <p class='survey_question'>¿En que medida recomendarías MediaMarkt a un amigo o familiar?</p>
          <div class="form-group survey_slider_container">
            <input id="recommendMediaMarkt" data-slider-id='recommendMediaMarkt' type="text" data-slider-min="-1" data-slider-max="10" data-slider-step="1" data-slider-value="-1"
            data-labelledby = '["NS-NC", "10"]'/>
            <p id='label-recommendMediaMarkt' name='label-recommendMediaMarkt' class='survey-selected-value'>NS-NC</p>
          </div>
           <p class='survey_question'>¿Recomendarías este chat?</p>
          <div class="form-group  survey_slider_container">
            <input id="recommendChat" data-slider-id='recommendChat' type="text" data-slider-min="-1" data-slider-max="10" data-slider-step="1" data-slider-value="-1"
            data-labelledby = '["NS-NC", "10"]'/>
            <p id='label-recommendChat' name='label-recommendChat' class="survey-selected-value">NS-NC</p>  
          </div>
          <div class="form-group">
            <textarea name='suggestions' id='suggestions' class='form-control ui-widget-content ui-corner-all survey-suggestions' placeholder="¿Tienes alguna sugerencia?"></textarea>
          </div>
          
        </fieldset>
        <button id="close-survey-button" name="close-survey-button" type="button" class="btn btn-primary center-block login_button">Finalizar y Cerrar Chat</button>
        </form>
  </div>
  <footer class="chat-footer"></footer>
</div>