<div id='main' class='ui-toolbar ui-widget-header ui-corner-all' style='display: none;'>
  <div class='shortcut'>
    <div class='window ui-widget'>
      <a class='window-tab'>
        <button id='tools' class='no-display'><span id='tools-icon' class='ui-icon'></span></button>
      </a>
      <div>
        <div id='tools-panel'>
          <ul id='tools-menu'>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id='main-rpanel'>
    <div class='main-right'>
      <div class='panels'>
      </div>
      <div id='users-button-bar' class='window ui-widget'>
      </div>
      <div class='apps'>
        <div class='window ui-widget'>
          <a class='window-tab'>
            <div id="DIV_1">
            	<button name="chat-title-button" id="chat-title-button" type="button">
            		<i id="chat_status" class='inactive_chat'></i>
            	</button>
            </div>
          </a>
        </div>
        <div class='window ui-widget'>
          <a class='window-tab'>
            <button id='options' class='no-display'><span id='options-icon' class='ui-icon'></span></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>