<div id="waiting_agent" name="waiting_agent" class="no-display">

      <div class='box box-info direct-chat direct-chat-info ui-widget-content no-content-border'>
        <div class='box-header with-border'>
          <div id='iswriting' class='pull-right'>
            <i class='fa fa-pencil'></i>
            <p id='iswriting-text'></p>
          </div>
          <span class="waiting_agent_status">En espera</span>
        </div>
        <div id='warning' class='highlight-padding ui-state-highlight ui-corner-all no-display'>
          <span class='window ui-icon ui-icon-info'></span>
          <strong id='warning-alert'></strong><span id='warning-text'></span>
        </div>
        <div class='waiting_agent_body'>
          <p class='validateTips'></p>
          <div class="waiting_agent_panel">
                      <div class="waiting_agent_line1 col-xs-12" id="waiting_agent_line1" name="waiting_agent_line1">Esta siendo conectado con un asesor</div>
                        <div class="col-xs-12 padding-top-20">
                            <img src="images/waiting-agent.png" class="col-xs-4 padding-4"  style="border-style: none">
                            <div class="col-xs-8 waiting_agent_time_detail padding-4 padding-top-15">
                                          <span id="waiting_agent_line2" name="waiting_agent_line2" class="waiting_agent_line2">Te atenderemos pronto</span>
                            </div>
                        </div>
          </div>
        </div>
       <div class="small-box-footer col-xs-12 waiting_agent_textarea_container">
          <textarea id="waiting_agent_textarea_msg" class="col-xs-10 waiting_agent_textarea_msg" disabled="" name="message"></textarea>
          <i class="material-icons col-xs2 rotate white">reply</i>
        </div>
</div>