body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	overflow: hidden;
}

@font-face{
	font-family:'mm-custom-icon';
	src:url("../fonts/mm-custom-icon.eot?15dnlc");
	src:url("../fonts/mm-custom-icon.eot?#iefix15dnlc") format("embedded-opentype"),
	url("../fonts/mm-custom-icon.woff?15dnlc") format("woff"), 
	url("../fonts/mm-custom-icon.ttf?15dnlc") format("truetype"),
	url("../fonts/mm-custom-icon.svg?15dnlc#mm-custom-icon") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'mm-headline';
    src: url('../fonts/mm-head-webfont.eot');
    src: url('../mm-head-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mm-head-webfont.woff2') format('woff2'),
         url('../fonts/mm-head-webfont.woff') format('woff'),
         url('../fonts/mm-head-webfont.ttf') format('truetype'),
         url('../fonts/mm-head-webfont.svg#mm-head-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm-regular';
    src: url('../fonts/mm-font-regular-webfont.eot');
    src: url('../fonts/mm-font-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mm-font-regular-webfont.woff2') format('woff2'),
         url('../fonts/mm-font-regular-webfont.woff') format('woff'),
         url('../fonts/mm-font-regular-webfont.ttf') format('truetype'),
         url('../fonts/mm-font-regular-webfont.svg#mm-font-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm-webbold';
    src: url('../fonts/mm-bold-webfont.eot');
    src: url('../fonts/mm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mm-bold-webfont.woff2') format('woff2'),
         url('../fonts/mm-bold-webfont.woff') format('woff'),
         url('../fonts/mm-bold-webfont.ttf') format('truetype'),
         url('../fonts/mm-bold-webfont.svg#mm-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: url(../fonts/MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'),
       local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.white {
    color:white;
}


.padding-4 {
    padding: 4px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-15 {
    padding-top: 15px;
}




.main-right, #text-status {
	float: right;
}

.panels, .window, .apps, .shortcut {
	float: left;
}

.apps, .shortcut {
	position: relative;
}

.window-tab {
	z-index: 6;
	cursor: pointer;
	display: block;
	position: relative;
	border-width: 0;
	padding-left: 1px;
	text-decoration: none;
	border-left-width: 1px;
	font-size: 75%;
}

.highlight-padding {
	padding: 3px;
}

.ui-menu {
	width: 180;
}

.toolbar, .toolbar-max {
	padding: 0px;
	display: inline-block;
	position: fixed;
	bottom: 0px;
	right: 2em;
	float: left;
	z-index: 50000;
}

#tools-menu {
	min-width: 150px;
}

.toolbar-max {
	width: 90%;
}

/* support: IE7 */
*+html .toolbar {
 	display: inline;
}

#textarea_msg {
	height: 42px;
	resize: none;
}

.textarea-msg { 
	width: 100%;
	display: inline-block;
	padding: 2px 9px;
}

.msg, .msg-text {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	display: block;
}

.msg-toptext {
	padding-left: 4px;
	padding-right: 4px;
}

.msg-time {
	float: right;
}

.msg-custom, .msg-time {
	margin: 0px;
	padding: 0px;
	font-size: 80%;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.floater {
	position: absolute;
	bottom: 0px;
}

.minimize-window {
	right: 2.4em;
}

.externally-window {
	right: 4.9em;
}

.minimize-window, .externally-window {
	position: absolute;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}

.minimize-main {
	float: right;
	margin: 0px;
	margin-right: 2px;
}

.online, .busy, .away, .offline, .logout {
	background-repeat: no-repeat;
	display: inline;
	background-position: 0px 2px;
	padding-left: 15px;
}

.ui-chatbox-log {
	min-height: 100px;
	max-height: 200px;
	overflow-y: auto;
}

.ui-chatbox-input-box {
	border: 2px solid lightgrey;
	margin-bottom: 1.3em;
	overflow-y: auto;
}

.ui-chatbox-input-focus {
	border-color: #6699FF;
}

.warning-conection {
	position: absolute;
	float: left;
	width: 79%;
}

#chat-title-button {
	min-width: 120px;
}

.chat-main-title {
	text-align: center;
	margin: 0.3em;
	margin-left: 30px;
	font-family: "mm-headline",arial,helvetica;
    font-size: 20px;
	/*font: normal normal normal normal 20px / normal mm-headline, arial, helvetica;*/
}

#main-users-resizer {
	width: 270px;
	min-height: 202px;
	display: inline-block;
	position: fixed;
	z-index: 50000;
	font-size: 75%;
}

.main-chat-window {
	margin-left: -2em;
}

.user-pad {
	padding: 5px;
}

#user-status {
	z-index: 1;
	position: fixed;
	list-style-image: none;
	list-style: none;
}

.progress-label {
	float: left;
	margin-left: 30%;
	margin-top: 5px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.ui-dialog {
	display: inline-block;
	position: fixed;
	z-index: 50000;
	font-size: 75%;
}

#tools-panel, .no-display {
	display: none;
}

#iswriting {
	margin-right: 4px;
	margin-bottom: 4px;
}

.no-content-border {
	border: 0px;
}

#progressbar-char {
	width: 30%;
	margin-left: 4px;
	margin-bottom: 4px;
	height: 6px;
}

#istalking {
	list-style-image: none;
	list-style: none;
	font-size: 10px;
	margin-top: 1em;
	float: left;
}

#options-panel {
	padding: 0px;
	border: 1px solid lightgrey;
}

#format {
	padding: 4px;
	overflow-y: auto;
}

.x-input {
	border: 1px solid #ccc;
	padding-top: 4px;
	padding-bottom: 2px;
}

.x-input input.x-input-text {
	border: 0;
	outline: 0;
	width: 70%;
}

.chat-search-main {
	padding-top: 4px;
	padding-bottom: 2px;
}

#chat-icon-close, #chat-icon-search {
	min-width: 20px;
	min-height: 24px;
}

.chat-search-text-st {
	max-width: 140px;
}

#slider {
	float: right;
	margin-top: 30px;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

input.login_text {
	margin-bottom:12px;
	padding: .4em;
}

.no-border {
	border: none;
}

.login_button {
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 4px 0px inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    white-space: pre;
    width: 100%;
    column-rule-color: rgb(255, 255, 255);
    align-items: flex-start;
    perspective-origin: 115px 22.5px;
    transform-origin: 115px 22.5px;
    user-select: none;
    background: #1F1A16 none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 16px mm-regular, arial, helvetica;
    margin: 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}


#P_1 {
    height: 18px;
    text-align: center;
    width: 100%;
    perspective-origin: 125px 9px;
    transform-origin: 125px 9px;
    font: normal normal normal normal 10px / normal mm-regular, arial, helvetica;
    margin: 10px 0px;
}/*#P_1*/

.login_form {
	    padding: 20px;
	    font-weight: bolder;
	    font-family: "mm-regular",arial,helvetica;
}

.email_input {
	background: #ECECEE;
	color: #89929B;
}

.name_input {
	background: #ECECEE;
	color: #89929B;
}



#login-button {
	font-family: "mm-regular",arial,helvetica;
    font-weight: bolder;
}


.ui-accordion-header {
	background: #ECECEE;
}

.box-header.with-border {
    color: #444;
    display: block;
    position: relative;
    padding: 0px;
    border-bottom: 1px solid #f4f4f4;
    background: #ECECEE;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.ui-dialog-title {
	font-size: large;
}


.circle-button {
	display:block;
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
	background:#F00;
}

#terms {
    height: 12px;
    width: 12px;
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    margin: 3px 2.89502px;
    padding: 0px;
}




#U_3, #A_4 {
    text-align: center;
    font: normal normal normal normal 10px / normal mm-regular, arial, helvetica;
}/*#U_3, #A_4*/




#DIV_1 {
    bottom: 10px;
    height: 76px;
    /*left: 1125px;*/
    max-width: 90px;
    position: fixed;
    right: 65px;
    text-align: right;
    text-size-adjust: 100%;
    /*top: 316px;*/
    width: 90px;
    perspective-origin: 45px 38px;
    transform-origin: 45px 38px;
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 16px / normal mm-regular, arial;
    transition: all 0.2s linear 0s;
}/*#DIV_1*/

#chat-title-button {
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    height: 76px;
    min-height: 0px;
    text-size-adjust: 100%;
    width: 90px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 45px 38px;
    transform-origin: 45px 38px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / normal arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 8px 10px;
}/*#chat-title-button*/


.inactive_chat {
	border: 1px silver solid;
	color: #eee;
    background: #eee;
    cursor: pointer;
    height: 20px;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    width: 27.9688px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 33.9844px 30px;
    transform-origin: 33.9844px 30px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 20px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    transition: opacity 0.2s ease-out 0s, left 0.2s ease-out 0s;
}

.inactive_chat:before {
    color: silver;
    content: "\e926";
    cursor: pointer;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*inactive_chat:before*/

.active_chat {
    color: rgb(255, 255, 255);
    cursor: pointer;
    /*display: block;
    float: left;*/
    height: 20px;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    width: 27.9688px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 33.9844px 30px;
    transform-origin: 33.9844px 30px;
    /*background: rgb(255, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;*/
    background: red;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 20px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    transition: opacity 0.2s ease-out 0s, left 0.2s ease-out 0s;
}/*.active_chat*/

.active_chat:before {
    color: rgb(255, 255, 255);
    content: "\e926";
    cursor: pointer;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*#active_chat:before*/


.header_icon_chat {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    position: fixed;

    height: 20px;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    width: 27.9688px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 33.9844px 30px;
    transform-origin: 33.9844px 30px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 20px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    transition: opacity 0.2s ease-out 0s, left 0.2s ease-out 0s;
}/*.active_chat*/

.header_icon_chat:before {
    color: rgb(255, 255, 255);
    content: "\e926";
    cursor: pointer;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 15px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*#active_chat:before*/


.chat_icon {
    color: rgb(255, 255, 255);
    font: normal normal normal normal 15px / 20px mm-custom-icon;
    content: "\e926";
    width: 40px;
    height: 30px;
    /* text-align: left; */
    /* margin: 0px; */
    position: fixed;
    /* overflow: hidden; */
}


#chat_header_new {
    color: rgb(255, 255, 255);
    float: left;
    height: 39px;
    max-width: 250px;
    width: 250px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 125px 19.5px;
    transform-origin: 125px 19.5px;
    background: rgb(70, 70, 70) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 16px / normal "Times New Roman";
    outline: rgb(255, 255, 255) none 0px;
}/*#chat_header_new*/

#I_2 {
    bottom: -33px;
    color: rgb(255, 255, 255);
    display: block;
    height: 28px;
    left: 15px;
    position: absolute;
    right: 194.719px;
    speak: none;
    top: 5px;
    width: 40.2813px;
    z-index: 20;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 20.1406px 14px;
    transform-origin: 20.1406px 14px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 28.8px / 28.8px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_2*/

#I_2:before {
    color: rgb(255, 255, 255);
    content: "\e926";
    speak: none;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 28.8px / 28.8px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*#I_2:before*/

#H5_3 {
    color: rgb(255, 255, 255);
    height: 39px;
    width: 180px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 125px 19.5px;
    transform-origin: 125px 19.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 100 normal 22.4px / 39px mm-regular, arial;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 70px;
}/*#H5_3*/


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.contact_thanks_form {
    text-align: center;
    font-family: "mm-webbold",verdana,arial;
    padding: 30px;
    font-size: 16px;
    line-height: 2;
}


.rotate {
   -moz-transform: scale(-1, 1);
   -webkit-transform: scale(-1, 1);
   -o-transform: scale(-1, 1);
   -ms-transform: scale(-1, 1);
   transform: scale(-1, 1);
}


.waiting_agent_status {
    font-family: "mm-webbold",verdana,arial;
    font-size:10px;
}

.waiting_agent_panel {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    max-height: 210px;
    min-height: 160px;
    overflow: auto;
    padding: 0px;
}

.waiting_agent_line1 {
    font-family: "mm-webbold",verdana,arial;
    font-size: 14px;
    color: #9B9DC4;
    padding-left: 20px; 
}

.waiting_agent_time_remaining {
    padding-top: 10px;
    padding-left: 10px;
}

.waiting_agent_time_detail {
    font-family:"mm-webbold",verdana,arial;
    font-size: 12;
}

.waiting_agent_line2 {
    font-family:"mm-webbold",verdana,arial;
    font-size: 14px;
}

.waiting_agent_countdown {
    font-size: 20px;
    font-family: "mm-regular", verdana,arial;
    color: #B10205;
    padding-left: 0px;
}

.waiting_agent_textarea_container {
    padding: 10px;
    background: #ECECEE
}

.waiting_agent_textarea_msg {
    border: none;
    background: white;
    height: 30px;
    resize: none;
}

.waiting_agent_body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-top: 10px;

}


.slider-selection {
	background: #ba0808;
}

.slider-track-high{
	background: #818181;
} 

.slider-handle {
	background: #eee;
}


.survey_form {
    padding: 15px;
    font-weight: bolder;
    font-family: "mm-regular",arial,helvetica;
}

.survey_question {
    color: #818181;
    font-size: 12px;
}

.survey_slider_container {
    padding-left: 10px;
    padding-right: 10px;
    background: #eee;
}

.survey-selected-value {
    text-align: center;
    font-family:"mm-regular",arial,helvetica;
    font-size: 26px;
}

.survey-suggestions {
    background: #ECECEE;
    color: #818181;
    text-align: center;
    resize: none
    
}

.chat-footer {
    height: 50px;
    background: #ECECEE;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}


.chat_header_icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    position: fixed;
    /*
    float: left;*/
    height: 20px;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    width: 27.9688px;
    column-rule-color: rgb(255, 255, 255);
    align-self: flex-start;
    perspective-origin: 33.9844px 30px;
    transform-origin: 33.9844px 30px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 20px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
    padding-left: 5px;
    transition: opacity 0.2s ease-out 0s, left 0.2s ease-out 0s;
}/*.active_chat*/

.chat_header_icon:before {
    color: rgb(255, 255, 255);
    content: "\e926";
    cursor: pointer;
    speak: none;
    text-align: center;
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal normal 20px / 20px mm-custom-icon;
    outline: rgb(255, 255, 255) none 0px;
}/*#active_chat:before*/


.direct-chat-info .right > .direct-chat-text {
    background: #ACABB1;
    border-color: #ACABB1;
    color: #ffffff;
}

.direct-chat-info .right > .direct-chat-text:after, .direct-chat-info .right > .direct-chat-text:before {
    border-left-color: #ACABB1;
    margin-top: 10px;
}    
.right .direct-chat-text {
    margin-right: 0px;
    margin-left: 0px;
}
.direct-chat-text {
    padding: 12px;
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    padding-bottom: 15px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 0px;
    color: #444444;
    word-wrap: break-word;
}

.chat-msg-me {
    font-family: "mm-webbold",arial,helvetica;
    color: black;
    font-size: 12px;
}

.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.grey-1 {
    color: #777777;
}

.no-padding{
    padding: 0px;
}

.dialog-buttog {
    float: left; 
    padding: 2px;
}

.chat-msg {
    font-family: "mm-webbold",arial,helvetica;
    color: black; 
    font-size: 12px;
    padding-left: 20px;
}

.label {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: default;
    font-size: 11px;
}

.label-important {
    background: black;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: black;
}

